.navbar-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .title {
    font-family: 'Lora', serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-green);
    display: flex;
    align-items: center; 
    height: 100%;
    line-height: 1;
    padding-top: 0;
    margin-top: 0;
  }

  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;

    li {
      margin-left: 25px;
      display: flex;
      align-items: center; 
      height: 100%;

      .active {
        color: var(--primary-green);
      }

        a {
            display: flex;
            align-items: center;
            gap: 8px; /* Spazio tra icona e testo */
            color: var(--dark-text);
            font-weight: 600;
            transition: color 0.3s ease;
            text-decoration: none; /* Rimuovi sottolineatura */
            height: 100%;
            line-height: 1;
            padding: 0;
            margin: 0;

            &:hover {
                color: var(--primary-green);
                cursor: pointer;
            }
        }   

        i {
            font-size: 1.1rem;
            line-height: 1;
            display: flex;
            align-items: center;
        }
    }
  }

}



@media (max-width: 768px) {
    .title {
        font-size: 1.1rem;
    }
  li {
    margin: 0;
    width: 100%;
    text-align: center;

    a {
        display: block;
        padding: 15px 20px;
        color: var(--secondary-green);
        border-bottom: 1px solid rgba(85, 107, 47, 0.1);
    }
  }
}
