.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .color-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

